ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
CMakeFiles/*
Debug/*
Win32/*
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
toksin.dir/*
toksin.opensdf
toksin.sdf
toksin.sln
toksin.vcxproj
toksin.vcxproj.filters
toksin_client.dir/*
toksin_client.vcxproj
toksin_client.vcxproj.filters
